<div class="jumbotron">
    <h1>Welcome to <strong>Modularch</strong> <i class="fa fa-puzzle-piece"></i></h1>
    <hr>
    <p>List of registered plugins ({{plugins.length}})</p>

    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div ng-repeat="plugin in plugins" class="card">
                <div class="card-block">
                    <h4 class="card-title">{{plugin.name}} <small class="text-muted">{{plugin.version}}</small></h4>
                    <p class="card-text">{{plugin.description}}</p>
                    <a ui-sref="{{plugin.name}}" class="btn btn-primary">Go <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>

</div>